{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/localsupplystore.myshopify.com/products/configure/187018/edit
{% endcomment %}
{% if product.metafields.custom_fields["product_gallery_images"] != blank %}
  <div class="custom-field custom-field__product-gallery-images custom-field__type--image">
    <h3 class="custom-field--title">Product gallery image 1</h3>
    <div class="custom-field--value">  
      {% include 'cf-image' with image: product.metafields.custom_fields["product_gallery_images"], print: 'url' %}
    </div>
  </div>
{% endif %}