{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.products.color' %}
  {% include 'custom_fields.products.colour' %}
  {% include 'custom_fields.products.product_features_colelction' %}
  {% include 'custom_fields.products.icon_1' %}
  {% include 'custom_fields.products.label_1' %}
  {% include 'custom_fields.products.icon_2' %}
  {% include 'custom_fields.products.label_2' %}
  {% include 'custom_fields.products.icon_3' %}
  {% include 'custom_fields.products.label_3' %}
  {% include 'custom_fields.products.icon_4' %}
  {% include 'custom_fields.products.label_4' %}
  {% include 'custom_fields.products.icon_5' %}
  {% include 'custom_fields.products.label_5' %}
  {% include 'custom_fields.products.swatch_name' %}
  {% include 'custom_fields.products.swatch_image' %}
  {% include 'custom_fields.products.product_page_slider_image' %}
  {% include 'custom_fields.products.product_gallery_images' %}
  {% include 'custom_fields.products.product_gallery_image_2' %}
  {% include 'custom_fields.products.product_gallery_image_3' %}
  {% include 'custom_fields.products.product_gallery_image_4' %}
  {% include 'custom_fields.products.product_gallery_image_5' %}
  {% include 'custom_fields.products.product_gallery_video_url' %}
  {% include 'custom_fields.products.product_tag' %}
  {% include 'custom_fields.products.product_tag-sold_out' %}
  {% include 'custom_fields.products.product_tag-new' %}
  {% include 'custom_fields.products.product_tag-best_seller' %}
</div>