{% if template.name == "index" %} 

  <div class="footer-linkbar">
    <div class="container">
      <div class="row">
        <div class="span12">
          <a href="{{ settings.footer_linkbar_url }}">{{ settings.footer_linkbar_text }}<i class="licon icon-arrow_right light"></i></a>
        </div>
      </div>
    </div>
  </div>

{% endif %}