<div class="container">
    <div class="page-header ">
      <h1 class="majortitle">{{ page.title }}</h1>
    </div>
    <div class="user-content row-spacing">
      {{ page.content }}
      <div class="page-sections">
        {% section 'v10-story_second' %}
      </div>
    </div>
  </div>

<style>
  .tt-breadcrumb {
    display: none;
}
  .page-header {
    text-align: center;
    padding: 40px 0;
}
  
  .user-content {
    padding-bottom: 20px;
}
  
  div#tt-pageContent div {
    color: #000000;
}
  
  h1.majortitle {
    font-size: 33px !important;
    padding: 0px !important;
    margin: 0px !important;
}
  
  .user-content div, .user-content p {
    font-family: "aktiv-grotesk",sans-serif;
    letter-spacing: 0.06em;
    font-size: 0.89286rem;
    font-weight: 300;
    line-height: 1.25rem;
}
  
  .v10-image-text .content {
    display: flex;
}
  
  .v10-image-text .content>div {
    flex: 1;
    width: 50%;
}

.v10-image-text .content>div {
    margin: 0 10px;
}
  
  .v10-image-text .content .text-content-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #ebebeb;
}
  
  .content-51513 .text-content-wrapper {
    background-color: #07287d;
}
  
  .v10-image-text .content>div {
    margin: 0 10px;
}
  
  .v10-image-text .content .text-content-wrapper .text-content {
    padding: 20px 90px;
}
  
  
  .user-content h1, .user-content h2, .user-content h3, .user-content h4, .user-content h5, .user-content h6 {
    margin: 1em 0 15px;
}
  
  .content-51513 .text-content-wrapper .text-content h3, .content-51513 .text-content-wrapper .text-content p {
    color: #fff;
}
  
.v10-image-text .content .text-content-wrapper .text-content p {
    font-family: "aktiv-grotesk",sans-serif;
    letter-spacing: 0.06em;
    font-size: 0.89286rem;
    font-weight: 300;
    line-height: 1.25rem;
}
  
  .v10-text-block-wrapper {
    padding: 46px 20px 39px;
}
  
  .v10-text-block-wrapper .content {
    width: 700px;
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
}
  
  .v10-text-block-wrapper .content h3 {
    margin: 1em 0;
}
  
  .v10-text-block-wrapper .content p {
    font-size: 20px;
    letter-spacing: 0.06em;
    line-height: 30px;
    text-align: center;
    font-weight: 400;
    margin: 0;
}
  
  body .user-content p {
    font-family: "aktiv-grotesk",sans-serif;
}
  
  .user-content p {
    color: #000000;
  
}
  
  .v10-three-column-card-wrapper {
    display: flex;
}
  
  .v10-three-column-card-wrapper {
    display: block;
    margin: 0 -10px;
}
  .v10-three-column-card-wrapper .card {
    flex-basis: 33.33%;
    margin: 0 10px;
}
  
  
  .v10-three-column-card-wrapper .card {
    background-color: #ece3d2;

    text-align: center;
    color: #232323;
}

  .v10-three-column-card-wrapper .card img {
    width: 100%;
    display: block;
}
  
  .v10-three-column-card-wrapper .card .content {
    padding: 40px 30px 35px;
}
  
  .v10-three-column-card-wrapper .card .title {
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 15px;
}
  
  .v10-three-column-card-wrapper .card .content p {
    font-family: "aktiv-grotesk",sans-serif;
    letter-spacing: 0.06em;
    font-size: 0.89286rem;
    font-weight: 300;
    line-height: 1.25rem;
}
  
  .v10-three-column-card-wrapper .card {
    flex-basis: 33.33%;
    margin: 0 10px;
}
  
  .v10-three-column-card-wrapper .card {
    background-color: #ece3d2;

    text-align: center;
    color: #232323;
}
  
  .v10-three-column-card-wrapper.clearfix {
    display: flex;
}
  .v10-three-column-card-wrapper .card img {
    width: 100%;
    display: block;
}
  
  .v10-three-column-card-wrapper .card .title {
    font-size: 1.25rem !important;
    margin-top: 0;
    margin-bottom: 15px;
}
  
  h3.title {
    padding: 0px !important;
    margin-bottom: 15px !important;
}
  
.user-content.row-spacing {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}
  
.v10-three-column-tile-wrapper>h3 {
    text-align: center;
    margin: 40px 0 50px;
}
  
  
.v10-three-column-tile-wrapper {
    padding: 30px 0;
}
  
  .v10-three-column-tile-wrapper .tile {
    float: left;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 10px;
}
  
  .v10-three-column-tile-wrapper .tile .image {
    position: relative;
    background-size: cover;
    background-position: center;
}
  
  .v10-three-column-tile-wrapper .tile .image img {
    width: 100%;
}
  
  .template-page .user-content a {
    text-decoration: none;
}
  
  .v10-three-column-tile-wrapper .tile .title {
    font-size: 1.42857rem !important;
    margin-top: 21px !important;
    letter-spacing: 0.06em !important;
}
  .v10-three-column-tile-wrapper .tile:last-of-type {
    margin-right: 0;
}
  
  .v10-three-column-tile-wrapper .tile .image {
    position: relative;
    background-size: cover;
    background-position: center;
}
  
  .v10-three-column-tile-wrapper .tile .image img {
    width: 100%;
}
  
  i.licon.icon-e-31 {
    font-weight: 600;
    font-size: 25px;
    position: relative;
    top: 4px;
}
  
  b, strong {
    font-weight: 600;
}
  
  
@media only screen and (max-width: 767px) {
  
  .v10-image-text .content {
    display: block;
}

.v10-image-text .content>div {
    flex: unset;
    width: 100%;
} 
  
.user-content.row-spacing {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding: 0px;
}
  
  .image img {
    width: 100%;
}
  
.v10-image-text .content>div {
    flex: unset;
    width: 95%;
    margin-bottom: 20px;
}

.v10-image-text .content .text-content-wrapper .text-content {
    padding: 60px 50px;
}
  
  .v10-three-column-card-wrapper.clearfix {
    display: block;
}
  

.v10-text-block-wrapper {
    padding: 60px 0;
}
  
  .v10-image-text .content>div {
    margin-bottom: 0px;
}
  
  .card {
    margin: 0 10px 20px !important;
}
  
  .v10-three-column-tile-wrapper.clearfix h3 {
    font-size: 22px !important;
}
  
  .v10-three-column-tile-wrapper .tile {
    float: left;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 10px;
}
  .v10-three-column-tile-wrapper.clearfix {
    padding-top: 0px;
}
  
  .v10-text-block-wrapper .content h3 {
    margin: 1em 0;
    font-size: 21px !important;
}
  
  .v10-image-text .content .image {
    margin-bottom: 20px;
}
  
  
  @media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {


.image img {
    width: 100%;
}
  


}
  
  
}
  
</style>