<style>
/*******************************
* Does not work properly if "in" is added after "collapse".
* Get free snippets on bootpen.com
*******************************/
    .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
    }

    .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
        background-color: #FAFAFA;
        border-color: #EEEEEE;
    }

    .panel-title {
        font-size: 14px;
    }

    .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
    }

    .more-less {
        float: right;
        color: #212121;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }

/* ----- v CAN BE DELETED v ----- */
/* body {
    background-color: #26a69a;
} */

.demo {
    padding-top: 60px;
    padding-bottom: 60px;
}
.container.demo {
    width: 61%;
}
a.collapsed {
    font-size: 15px;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    height: 55px;
}
i .more-less .glyphicon. glyphicon-plus {
    font-size: 13px !important;
    margin-top: 3px;
}	

.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}
.panel-collapse {
    padding: 10px;
}
td strong {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}
td, th {
    padding: 0;
    display: inline-block;
    margin-left: 33px;
    margin-top: 1px;
}
h3#shipping {
    text-align: center;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: white !important;
    border-color: #ddd;
}
</style>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container demo">
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<h3 id="shipping">STOCKISTS</h3>
<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingOne">
<h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> <i class="more-less glyphicon glyphicon-plus"></i> AUSTRALIA </a></h4>
</div>
<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
<div class="panel-body">
<div class="faq-content">
<table width="100%">
<tbody>
<tr>
<td>
<strong>Abicus</strong><br><strong>Broxton Pound</strong><br><strong>Coogee Surf &amp; Co</strong><br><strong>Culture Kings</strong><br><strong>David Jones</strong><br><strong>Haus of Palm</strong><br><strong>Heinemann Duty Free</strong><br><strong>General Pants &amp; Co</strong><br><span style="font-size: 11px;">Selected Stores</span>
</td>
<td>
<strong>Glue Store</strong><br><span style="font-size: 11px;">Selected Stores</span><br><strong>Mitchell Mcabe</strong><br><strong>Mondo Deluxe</strong><br><strong>Mr Simple</strong><br><span style="font-size: 11px;">Selected Stores</span><br><strong>Navaho</strong><br><strong>Neverland Store</strong><br><strong>Pretty Rad</strong>
</td>
<td>
<strong>The Academy Brand</strong><br><strong>The Iconic</strong><br><strong>Universal Store</strong><br><span style="font-size: 11px;">Selected Stores</span><br><strong>15 Sheets</strong>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingTwo">
<h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> <i class="more-less glyphicon glyphicon-plus"></i> JAPAN </a></h4>
</div>
<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
<div class="panel-body">
<div class="faq-content">
<table width="100%">
<tbody>
<tr>
<td>
<strong>ALLOYD</strong><br><strong>BEAMS</strong><br><span style="font-size: 11px;">Selected Stores</span><br><strong>BRANCA CLOSET</strong><br><strong>CANNABIS</strong><br><span style="font-size: 11px;">Selected Stores</span><br><strong>CRACK FLOOR</strong><br><strong>DAIMARU</strong><br><span style="font-size: 11px;">Selected Stores<br></span><strong>FAN</strong><br><strong>FLAVOR</strong><br><strong>F'S SEI</strong><br><strong>HANKYU UMEDA</strong>
</td>
<td>
<strong>HONEY’S DEAD</strong><br><strong>ISETAN</strong><br><span style="font-size: 11px;">Selected Stores</span><br><strong>L SALON</strong><br><strong>LUCY LUE</strong><br><strong>OPENING CEREMONY</strong><br><strong>NAVYBLUE</strong><br><strong>RAY BEAMS</strong><br><span style="font-size: 11px;">Selected Stores</span><br><strong>RESTIR</strong><br><strong>SHIPS</strong><br><strong>SOGO</strong><br><span style="font-size: 11px;">Selected Stores</span>
</td>
<td>
<strong>TAKASHIMAYA</strong><br><span style="font-size: 11px;">Selected Stores</span><br><strong>TITY</strong><br><strong>UNITED ARROWS</strong><br><span style="font-size: 11px;">Selected Stores</span><br><strong>VULCAN</strong><br><strong>VONDOT</strong>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingThree">
<h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> <i class="more-less glyphicon glyphicon-plus"></i> UK </a></h4>
</div>
<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
<div class="panel-body">
<div class="faq-content">
<table width="100%">
<tbody>
<tr>
<td>
<strong>BROWNS FASHION</strong><br> <strong>FENWICK</strong><br> <span style="font-size: 11px;">Selected Stores</span>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading" role="tab" id="heading4">
<h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4"> <i class="more-less glyphicon glyphicon-plus"></i> FRANCE </a></h4>
</div>
<div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4&gt;
                &lt;div class=" panel-body="">
<div class="faq-content">
<table width="100%">
<tbody>
<tr>
<td><strong>SOVAJE</strong></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading" role="tab" id="heading5">
<h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5"> <i class="more-less glyphicon glyphicon-plus"></i> SINGAPORE </a></h4>
</div>
<div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
<div class="panel-body">
<div class="faq-content">
<table width="100%">
<tbody>
<tr>
<td><strong>MEN’S BAZAAR</strong></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
<!-- panel-group --> <!-- container -->
<script>// <![CDATA[
function toggleIcon(e) {
    $(e.target)
        .prev('.panel-heading')
        .find(".more-less")
        .toggleClass('glyphicon-plus glyphicon-minus');
}
$('.panel-group').on('hidden.bs.collapse', toggleIcon);
$('.panel-group').on('shown.bs.collapse', toggleIcon);
// ]]></script>