




<div class="container-indent">
  <div class="container">
    <div class="page-header cf">
    <h1 class="majortitle">{{ page.title }}</h1>
    
  </div>
    <div class="page-{{ page.title }}">
    
      {{ page.content }}
    
    </div>
    
  </div>
</div>

<style>
  

  
  h1.majortitle {
    font-weight: 500;
    font-family: "aktiv-grotesk",sans-serif;
    font-size: 33px !important;
    text-transform: uppercase;
}
  
  .page-header {
    text-align: center;
    padding: 0px 0px 40px 0;
}
  
  .tt-footer-col.tt-color-scheme-03.tt-top-border {
    margin-top: 50px;
}
  
  h2:not(.small):not([class^="tt-title"]):not([class^="tt-collapse"]):not([class^="tt-aside"]) {
 
    padding-bottom: 0px;
}
  
  .tt-breadcrumb {
    display: none;
}
  
  
  .ls-table.clearfix {
    max-width: 960px;
    margin: 0 auto;
    margin: 0 auto;
    max-width: 680px;
    text-align: center;
}
  
  .column {
    float: left;
    width: 33.33%;
}
  
.ls-table.clearfix {
    font-family: "aktiv-grotesk",sans-serif;
    letter-spacing: 0.06em;
    font-size: 0.89286rem;
    font-weight: 300;
    line-height: 1.25rem;
}  

  .Tcontent {
    width: 960px;
    margin: 0px auto;
}
  
  .no-worries-button-wrapper {
    text-align: center;
}
  
  .ls-button {
    display: inline-block;
    transition: all 300ms ease-in-out;
    font-size: 0.92857rem;
    font-weight: 600;
    padding: 25px;
    text-transform: initial;
    line-height: initial;
    letter-spacing: 0.06em;
    vertical-align: top;
    background-color: #fd7064;
    border-radius: 0;
    color: #fff !important;
    margin-bottom: 50px;
    width: 350px;
    max-width: 100%;
    box-sizing: border-box;
}
  
  .ls-button.button-secondary {
    background-color: #04247f;
    padding: 13px 25px;
    margin-bottom: 0;
}
  .RepirREcy {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
}
  
  .RepirREcy div {
    color: #000;
    font-family: "aktiv-grotesk",sans-serif;
    letter-spacing: 0.06em;
    font-size: 0.89286rem;
    font-weight: 300;
    line-height: 1.25rem;
}
  
  .how-it-works-grid {
    font-family: "aktiv-grotesk",sans-serif;
    letter-spacing: 0.06em;
    font-size: 0.89286rem;
    font-weight: 300;
    line-height: 1.25rem;
}
  
  .how-it-works-grid .grid {
    width: 33%;
    display: inline-block;
    vertical-align: top;
}
  
  .how-it-works-grid .grid .img {
    height: 85px;
    position: relative;
}
  
  .how-it-works-grid .grid h3 {
    font-size: 22px;
    font-weight: 400;
    margin: 20px 0 5px;
}
  
  body p {
    font-family: "aktiv-grotesk",sans-serif;
}
 
.how-it-works-grid .grid {
    margin-bottom: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
}
  
  .how-it-works-grid p {
    font-family: "aktiv-grotesk",sans-serif;
    letter-spacing: 0.06em;
    font-size: 0.89286rem;
    font-weight: 300;
    line-height: 1.25rem;
}
  
  h3.how-it-works-heading {
    margin: 1em 0 15px;
}
  
@media only screen and (max-width: 767px) {
  
    
    .Tcontent {
    width: 100% !important;
    margin: 0px auto;
}
  h1.majortitle {
 
    font-size: 30px !important;
   
}  
  
  .RepirREcy {
 
    padding: 0px;
}
    
  .how-it-works-grid .grid {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
  
}
  
</style>