<div class="container">
    <div class="page-header ">
      <h1 class="majortitle">{{ page.title }}</h1>
    </div> 
    <div class="user-content row-spacing">
      {{ page.content }}
      <div class="page-sections">
        {% section 'v10-new_story_second' %}
      </div>
    </div>
</div>
